Interface.AS2.EDI.Belkin/Resource.Group/LogicApps/EncodeX12.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "APIConn-ServiceBus"
    },
    "serviceBusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "ServiceBus Connection"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "serviceBusSendTopicName": {
      "type": "string",
      "defaultValue": "publish-belkinx12-outgoing"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "archiveContainerName": {
      "type": "string",
      "defaultValue": "archive"
    },
    "x12ConnectionName": {
      "type": "string",
      "defaultValue": "APIConn-X12"
    },
    "x12ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "X12 Connection"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-AS2-EDI-Belkin-Blob"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-Report"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    }
  },
  "variables":
  {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "serviceBusConnectionName": "[concat(parameters('environment'),'-', parameters('serviceBusConnectionName'))]",
    "serviceBusConnectiondisplayName": "[concat(parameters('environment'), ' ', parameters('serviceBusConnectionDisplayName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "reportUri": "[concat('https://', parameters('environment'), '-', parameters('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobUri": "[concat('https://', parameters('environment'), '-', parameters('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "exceptionReportingUri": "[concat('https://', parameters('apiReportingConnectorAppName'), '.azurewebsites.net', '/api/Exception')]",
    "eventReportingUri": "[concat('https://', parameters('apiReportingConnectorAppName'), '.azurewebsites.net', '/api/Event')]",
    "apiDefinitionReportingUri": "[concat('https://', parameters('apiReportingConnectorAppName'), '.azurewebsites.net', '/swagger/docs/v1')]",
    "integrationAccountId": "[resourceId(variables('commonResourceGroupName'), 'Microsoft.Logic/integrationAccounts', variables('integrationAccountName'))]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]",
    "x12ConnectionName": "[concat(parameters('environment'), '-', parameters('x12ConnectionName'))]",
    "x12ConnectionDisplayName": "[concat(parameters('environment'), ' ', parameters('x12ConnectionDisplayName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ],
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions":
          {
            "Encode_X12":
            {
              "type": "ApiConnection",
              "inputs":
              {
                "host":
                {
                  "api":
                  {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/x12"
                  },
                  "connection":
                  {
                    "name": "@parameters('$connections')['x12']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/encode/resolvebyname",
                "queries":
                {
                  "agreementName": "[concat(parameters('commonEnvironment'), '-Belkin-X12')]"
                },
                "body": "@{base64ToString(triggerBody()?['Base64MessageBody'])}"
              },
              "runAfter":
              {
              }
            },
            "Archive":
            {
              "type": "Http",
              "inputs":
              {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/blob')]",
                "body":
                {
                  "BlobName": "@{concat(parameters('$connections')['servicebus']['sendTopicName'], '/', triggerBody()?['Properties']?['CorrelationId'])}",
                  "ContainerName": "archive",
                  "Base64MessageBody": "@{body('Encode_X12')?['Payload']}",
                  "Properties":
                  {
                    "From": "@{triggerBody()?['Properties']?['From']}",
                    "To": "@{triggerBody()?['Properties']?['To']}",
                    "AS2From": "@{triggerBody()?['Properties']?['AS2From']}",
                    "AS2To": "@{triggerBody()?['Properties']?['AS2To']}",
                    "X12From": "@{triggerBody()?['Properties']?['X12From']}",
                    "X12To": "@{triggerBody()?['Properties']?['X12To']}",
                    "ReceiverPartnerName": "@{triggerBody()?['Properties']?['ReceiverPartnerName']}",
                    "SenderPartnerName": "@{triggerBody()?['Properties']?['SenderPartnerName']}",
                    "Agreement": "@{triggerBody()?['Properties']?['Agreement']}",
                    "DocumentType": "@{triggerBody()?['Properties']?['DocumentType']}",
                    "DocumentSubType": "@{triggerBody()?['Properties']?['DocumentSubType']}",
                    "EntityVersion": "@{triggerBody()?['Properties']?['EntityVersion']}",
                    "InterchangeControlNumber": "@{triggerBody()?['Properties']?['InterchangeControlNumber']}",
                    "ServiceBusTriggerContent": "@{triggerBody()?['Properties']?['ServiceBusTriggerContent']}",
                    "CorrelationId": "@{triggerBody()?['Properties']?['CorrelationId']}",
                    "Interface": "@{triggerBody()?['Properties']?['Interface']}",
                    "MessageType": "@{triggerBody()?['Properties']?['MessageType']}",
                    "ReceivedDateTime": "@{triggerBody()?['Properties']?['ReceivedDateTime']}",
                    "Status": "@{triggerBody()?['Properties']?['Status']}",
                    "TestIndicator": "@{triggerBody()?['Properties']?['TestIndicator']}",
                    "Q2QTestIndicator": "@{triggerBody()?['Properties']?['Q2QTestIndicator']}",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "GLNCode": "@{triggerBody()?['Properties']?['GLNCode']}",
                    "CustomerName": "@{triggerBody()?['Properties']?['CustomerName']}",
                    "WarehouseLocationCode": "@{triggerBody()?['Properties']?['WarehouseLocationCode']}",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "CustomerMessageId": "@{triggerBody()?['Properties']?['CustomerMessageId']}"
                  }
                }
              },
              "runAfter":
              {
                "Encode_X12":
                [
                  "Succeeded"
                ]
              }
            },
            "MessageBox":
            {
              "type": "Http",
              "inputs":
              {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/blob')]",
                "body":
                {
                  "BlobName": "@{concat(parameters('$connections')['servicebus']['sendTopicName'], '/', triggerBody()?['Properties']?['CorrelationId'])}",
                  "ContainerName": "messagebox",
                  "Base64MessageBody": "@{body('Encode_X12')?['Payload']}",
                  "Properties":
                  {
                    "From": "@{triggerBody()?['Properties']?['From']}",
                    "To": "@{triggerBody()?['Properties']?['To']}",
                    "AS2From": "@{triggerBody()?['Properties']?['AS2From']}",
                    "AS2To": "@{triggerBody()?['Properties']?['AS2To']}",
                    "X12From": "@{triggerBody()?['Properties']?['X12From']}",
                    "X12To": "@{triggerBody()?['Properties']?['X12To']}",
                    "ReceiverPartnerName": "@{triggerBody()?['Properties']?['ReceiverPartnerName']}",
                    "SenderPartnerName": "@{triggerBody()?['Properties']?['SenderPartnerName']}",
                    "Agreement": "@{triggerBody()?['Properties']?['Agreement']}",
                    "DocumentType": "@{triggerBody()?['Properties']?['DocumentType']}",
                    "DocumentSubType": "@{triggerBody()?['Properties']?['DocumentSubType']}",
                    "EntityVersion": "@{triggerBody()?['Properties']?['EntityVersion']}",
                    "InterchangeControlNumber": "@{triggerBody()?['Properties']?['InterchangeControlNumber']}",
                    "ServiceBusTriggerContent": "@{triggerBody()?['Properties']?['ServiceBusTriggerContent']}",
                    "CorrelationId": "@{triggerBody()?['Properties']?['CorrelationId']}",
                    "Interface": "@{triggerBody()?['Properties']?['Interface']}",
                    "MessageType": "@{triggerBody()?['Properties']?['MessageType']}",
                    "ReceivedDateTime": "@{triggerBody()?['Properties']?['ReceivedDateTime']}",
                    "Status": "@{triggerBody()?['Properties']?['Status']}",
                    "TestIndicator": "@{triggerBody()?['Properties']?['TestIndicator']}",
                    "Q2QTestIndicator": "@{triggerBody()?['Properties']?['Q2QTestIndicator']}",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "GLNCode": "@{triggerBody()?['Properties']?['GLNCode']}",
                    "CustomerName": "@{triggerBody()?['Properties']?['CustomerName']}",
                    "WarehouseLocationCode": "@{triggerBody()?['Properties']?['WarehouseLocationCode']}",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "CustomerMessageId": "@{triggerBody()?['Properties']?['CustomerMessageId']}"
                  }
                }
              },
              "runAfter":
              {
                "Archive":
                [
                  "Succeeded"
                ]
              }
            },
            "Send_Trigger_Message":
            {
              "type": "ApiConnection",
              "inputs":
              {
                "host":
                {
                  "api":
                  {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection":
                  {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(parameters('$connections')['servicebus']['sendTopicName'])}/messages",
                "body":
                {
                  "ContentData": "@{triggerBody()?['Properties']?['ServiceBusTriggerContent']}",
                  "ContentType": "application/json",
                  "CorrelationId": "@{triggerBody()?['Properties']?['CorrelationId']}"
                },
                "queries":
                {
                  "systemProperties": "None"
                }
              },
              "runAfter":
              {
                "MessageBox":
                [
                  "Succeeded"
                ]
              }
            },
            "Report_Finish_Event": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('reportUri'), '/api/Event')]",
                "body": {
                  "ArchivePath": "@{body('Archive')}",
                  "MessageID": "@{triggerBody()?['Properties']?['CorrelationId']}",
                  "Interface": "@{triggerBody()?['Properties']?['Interface']}",
                  "Component": "@{workflow()?['name']}",
                  "EventType": "Finish",
                  "WorkflowId": "@string(workflow()['run']['name'])",
                  "CustomProperties": {
                    "CustomerName": "@{triggerBody()?['Properties']?['CustomerName']}",
                    "CustomerPONo": "@{triggerBody()?['Properties']?['CustomerMessageId']}",
                    "GLN": "@{triggerBody()?['Properties']?['GLNCode']}",
                    "WareHouseCode": "@{triggerBody()?['Properties']?['WarehouseLocationCode']}"
                  }
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "metadata": {
                "apiDefinitionUrl": "[concat(variables('reportUri'), '/swagger/docs/v1')]",
                "swaggerSource": "website"
              },
              "runAfter": {
                "Send_Trigger_Message": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters":
          {
            "$connections":
            {
              "defaultValue":
              {
              },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "id": "http://integration.linfox.com/root.json",
                  "properties": {
                    "Base64MessageBody": {
                      "default": "",
                      "description": "The message body encoded as Base64.",
                      "id": "http://integration.linfox.com/root.json/Base64MessageBody",
                      "title": "Base64 Message Body",
                      "type": "string"
                    },
                    "BlobName": {
                      "default": "",
                      "description": "The name of the blob the archive was last saved to.",
                      "id": "http://integration.linfox.com/root.json/BlobName",
                      "title": "Blob Name",
                      "type": "string"
                    },
                    "ContainerName": {
                      "default": "archive",
                      "description": "The container name of the storage account used for blob storage.",
                      "id": "http://integration.linfox.com/root.json/ContainerName",
                      "title": "Container Name",
                      "type": "string"
                    },
                    "Properties": {
                      "id": "http://integration.linfox.com/root.json/Properties",
                      "properties": {
                        "AS2From": {
                          "default": "",
                          "description": "The AS2 From parameter of the AS2 message.",
                          "id": "http://integration.linfox.com/root.json/Properties/AS2From",
                          "title": "AS2 From",
                          "type": "string"
                        },
                        "AS2To": {
                          "default": "",
                          "description": "The AS2 To parameter of the AS2 message.",
                          "id": "http://integration.linfox.com/root.json/Properties/AS2To",
                          "title": "AS2 To",
                          "type": "string"
                        },
                        "Agreement": {
                          "default": "",
                          "description": "The AS2 or EDI agreement name.",
                          "id": "http://integration.linfox.com/root.json/Properties/Agreement",
                          "title": "Agreement",
                          "type": "string"
                        },
                        "CorrelationId": {
                          "default": "",
                          "description": "A unique id used for correlation throughout the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/CorrelationId",
                          "title": "Correlation Id",
                          "type": "string"
                        },
                        "DocumentSubType": {
                          "default": "",
                          "description": "The sub-type of the message document.",
                          "id": "http://integration.linfox.com/root.json/Properties/DocumentSubType",
                          "title": "Document Sub-Type",
                          "type": "string"
                        },
                        "DocumentType": {
                          "default": "",
                          "description": "The type of the message document.",
                          "id": "http://integration.linfox.com/root.json/Properties/DocumentType",
                          "title": "Document Type",
                          "type": "string"
                        },
                        "EntityVersion": {
                          "default": "1.0",
                          "description": "The version of the message entity.",
                          "id": "http://integration.linfox.com/root.json/Properties/EntityVersion",
                          "title": "Entity Version",
                          "type": "string"
                        },
                        "From": {
                          "default": "",
                          "description": "Generic From parameter.",
                          "id": "http://integration.linfox.com/root.json/Properties/From",
                          "title": "From",
                          "type": "string"
                        },
                        "InterchangeControlNumber": {
                          "default": "",
                          "description": "EDI interchange control number.",
                          "id": "http://integration.linfox.com/root.json/Properties/InterchangeControlNumber",
                          "title": "Interchange Control Number",
                          "type": "string"
                        },
                        "Interface": {
                          "default": "",
                          "description": "The name of the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/Interface",
                          "title": "Interface",
                          "type": "string"
                        },
                        "MessageType": {
                          "default": "",
                          "description": "The incoming type of the message.",
                          "id": "http://integration.linfox.com/root.json/Properties/MessageType",
                          "title": "MessageType",
                          "type": "string"
                        },
                        "Q2QTestIndicator": {
                          "default": "",
                          "description": "Boolean indicator as to whether this is a Q2Q test.",
                          "id": "http://integration.linfox.com/root.json/Properties/Q2QTestIndicator",
                          "title": "Q2Q Test Indicator",
                          "type": "string"
                        },
                        "ReceivedDateTime": {
                          "default": "",
                          "description": "The date and time at which the message was received.",
                          "id": "http://integration.linfox.com/root.json/Properties/ReceivedDateTime",
                          "title": "Received Date Time",
                          "type": "string"
                        },
                        "ReceiverPartnerName": {
                          "default": "",
                          "description": "AS2 receiver partner name.",
                          "id": "http://integration.linfox.com/root.json/Properties/ReceiverPartnerName",
                          "title": "Receiver Partner Name",
                          "type": "string"
                        },
                        "SenderPartnerName": {
                          "default": "",
                          "description": "AS2 Sender Partner Name.",
                          "id": "http://integration.linfox.com/root.json/Properties/SenderPartnerName",
                          "title": "Sender Partner Name",
                          "type": "string"
                        },
                        "ServiceBusTriggerContent": {
                          "default": "",
                          "description": "The service bus trigger content.",
                          "id": "http://integration.linfox.com/root.json/ServiceBusTriggerContent",
                          "title": "ServiceBus Trigger Content",
                          "type": "string"
                        },
                        "Status": {
                          "default": "",
                          "description": "The status of the message within the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/Status",
                          "title": "Status",
                          "type": "string"
                        },
                        "TestIndicator": {
                          "default": "",
                          "description": "EDI test indicator.",
                          "id": "http://integration.linfox.com/root.json/Properties/TestIndicator",
                          "title": "Test Indicator",
                          "type": "string"
                        },
                        "To": {
                          "default": "",
                          "description": "Generic To parameter.",
                          "id": "http://integration.linfox.com/root.json/Properties/To",
                          "title": "To",
                          "type": "string"
                        },
                        "WorkflowGuid": {
                          "default": "",
                          "description": "GUID of the current Logic App.",
                          "id": "http://integration.linfox.com/root.json/Properties/WorkflowGuid",
                          "title": "Workflow GUID",
                          "type": "string"
                        },
                        "WorkflowName": {
                          "default": "",
                          "description": "Name of the current Logic App.",
                          "id": "http://integration.linfox.com/root.json/Properties/WorkflowName",
                          "title": "Workflow Name",
                          "type": "string"
                        },
                        "X12From": {
                          "default": "",
                          "description": "The X12 From parameter of the EDI message.",
                          "id": "http://integration.linfox.com/root.json/Properties/X12From",
                          "title": "X12 From.",
                          "type": "string"
                        },
                        "X12To": {
                          "default": "",
                          "description": "The X12 To parameter of the EDI message.",
                          "id": "http://integration.linfox.com/root.json/Properties/X12To",
                          "title": "X12 To",
                          "type": "string"
                        },
                        "GLNCode": {
                          "default": "",
                          "description": "Customer GLN Code.",
                          "id": "http://integration.linfox.com/root.json/Properties/GLNCode",
                          "title": "GLN Code",
                          "type": "string"
                        },
                        "CustomerName": {
                          "default": "",
                          "description": "Customer Name.",
                          "id": "http://integration.linfox.com/root.json/Properties/CustomerName",
                          "title": "Customer Name",
                          "type": "string"
                        },
                        "WarehouseLocationCode": {
                          "default": "",
                          "description": "Warehouse Location Code.",
                          "id": "http://integration.linfox.com/root.json/Properties/WarehouseLocationCode",
                          "title": "Warehouse Location Code",
                          "type": "string"
                        },
                        "AssociatedServiceBusTopicName": {
                          "default": "",
                          "description": "Associated Service Bus Topic name.",
                          "id": "http://integration.linfox.com/root.json/Properties/AssociatedServiceBusTopicName",
                          "title": "Associated Service Bus Topic Name",
                          "type": "string"
                        },
                        "CustomerMessageId": {
                          "default": "",
                          "description": "Customer message id.",
                          "id": "http://integration.linfox.com/root.json/Properties/CustomerMessageId",
                          "title": "Customer Message Id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters":
        {
          "$connections":
          {
            "value":
            {
              "x12":
              {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'x12')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('x12ConnectionName'))]",
                "connectionName": "[variables('x12ConnectionName')]"
              },
              "servicebus":
              {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('serviceBusConnectionName'))]",
                "connectionName": "[variables('serviceBusConnectionName')]",
                "sendTopicName": "[parameters('serviceBusSendTopicName')]"
              }
            }
          }
        }
      },
      "dependsOn":
      [
        "[resourceId('Microsoft.Web/connections', variables('x12ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('serviceBusConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('serviceBusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[variables('serviceBusConnectiondisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('x12ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'x12')]"
        },
        "displayName": "[variables('x12ConnectionDisplayName')]",
        "parameterValues": {
          "integrationAccountId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackURL(concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName')), '2015-08-01-preview').value]"
        }
      }
    }
  ],
  "outputs": {}
}