Interface.AS2.EDI.Belkin/Resource.Group/LogicApps/ReceiveAS2FromBelkin.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "as2ConnectionName": {
      "type": "string",
      "defaultValue": "APIConn-AS2"
    },
    "as2ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "AS2 Connection"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "APIConn-ServiceBus"
    },
    "serviceBusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "ServiceBus Connection"
    },
    "serviceBusSendTopicName": {
      "type": "string",
      "defaultValue": "publish-belkinx12-incoming"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-AS2-EDI-Belkin-Blob"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-Report"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "integrationAccountId": "[resourceId(variables('commonResourceGroupName'), 'Microsoft.Logic/integrationAccounts', variables('integrationAccountName'))]",
    "serviceBusConnectionName": "[concat(parameters('commonEnvironment'), '-', parameters('serviceBusConnectionName'))]",
    "serviceBusConnectionDisplayName": "[concat(parameters('commonEnvironment'), '-', parameters('serviceBusConnectionDisplayName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceAuthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "apiBlobConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiBlobConnectorAppName'))]",
    "apiReportingConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiReportingConnectorAppName'))]",
    "reportUri": "[concat('https://', variables('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobUri": "[concat('https://', variables('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "as2ConnectionName": "[concat(parameters('environment'), '-', parameters('as2ConnectionName'))]",
    "as2ConnectionDisplayName": "[concat(parameters('environment'), ' ', parameters('as2ConnectionDisplayName'))]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ],
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Decode_AS2_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/as2"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/decode",
                "body": "@triggerBody()",
                "headers": "@triggerOutputs()['headers']"
              },
              "runAfter": {}
            },
            "Check_MDN_Expected": {
              "type": "If",
              "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
              "actions": {
                "Check_MDN_Type": {
                  "type": "If",
                  "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                  "actions": {
                    "Send_200_OK_for_Async_MDN": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200
                      },
                      "runAfter": {}
                    },
                    "Send_Async_MDN": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                        "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                        "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                      },
                      "runAfter": {
                        "Send_200_OK_for_Async_MDN": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_Sync_MDN": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                          "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_200_OK": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Construct_Event_Message": {
              "type": "Compose",
              "inputs": {
                "Id": "@guid()",
                "Type": "messagebox"
              },
              "runAfter": {
                "Check_MDN_Expected": [
                  "Succeeded"
                ]
              }
            },
            "MessageBox": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/Blob')]",
                "body": {
                  "BlobName": "@{concat(parameters('$connections')['servicebus']['sendTopicName'], '/', outputs('Construct_Event_Message')['Id'])}",
                  "ContainerName": "messagebox",
                  "Base64MessageBody": "@body('Decode_AS2_message')?['AS2Message']?['Content']",
                  "Properties": {
                    "AS2From": "@{body('Decode_AS2_message')?['AS2Message']?['AS2From']}",
                    "AS2To": "@{body('Decode_AS2_message')?['AS2Message']?['AS2To']}",
                    "X12From": "",
                    "X12To": "",
                    "ReceiverPartnerName": "@{body('Decode_AS2_message')?['AS2Message']?['ReceiverPartnerName']}",
                    "SenderPartnerName": "@{body('Decode_AS2_message')?['AS2Message']?['SenderPartnerName']}",
                    "Agreement": "@{body('Decode_AS2_message')?['AS2Message']?['AgreementName']}",
                    "DocumentType": "",
                    "DocumentSubType": "",
                    "EntityVersion": "1.0",
                    "InterchangeControlNumber": "",
                    "ServiceBusTriggerContent": "@{base64(outputs('Construct_Event_Message'))}",
                    "Interface": "BelkinReceive",
                    "MessageType": "AS2",
                    "ReceivedDateTime": "@{utcnow()}",
                    "Status": "Start",
                    "TestIndicator": "",
                    "Q2QTestIndicator": "",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "From": "@{triggerBody()?['Properties']?['From']}",
                    "To": "@{triggerBody()?['Properties']?['To']}",
                    "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}",
                    "GLNCode": "",
                    "CustomerName": "Belkin",
                    "WarehouseLocationCode": "",
                    "CustomerMessageId": ""
                  }
                }
              },
              "runAfter": {
                "Construct_Event_Message": [
                  "Succeeded"
                ]
              }
            },
            "Send_Trigger_Message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(parameters('$connections')['servicebus']['sendTopicName'])}/messages",
                "body": {
                  "ContentData": "@{base64(outputs('Construct_Event_Message'))}",
                  "ContentType": "application/json"
                },
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "MessageBox": [
                  "Succeeded"
                ]
              }
            },
            "Archive": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/Blob')]",
                "body": {
                  "BlobName": "@{concat(parameters('$connections')['servicebus']['sendTopicName'], '/', outputs('Construct_Event_Message')['Id'])}",
                  "ContainerName": "archive",
                  "Base64MessageBody": "@body('Decode_AS2_message')?['AS2Message']?['Content']",
                  "Properties": {
                    "AS2From": "@{body('Decode_AS2_message')?['AS2Message']?['AS2From']}",
                    "AS2To": "@{body('Decode_AS2_message')?['AS2Message']?['AS2To']}",
                    "X12From": "",
                    "X12To": "",
                    "ReceiverPartnerName": "@{body('Decode_AS2_message')?['AS2Message']?['ReceiverPartnerName']}",
                    "SenderPartnerName": "@{body('Decode_AS2_message')?['AS2Message']?['SenderPartnerName']}",
                    "Agreement": "@{body('Decode_AS2_message')?['AS2Message']?['AgreementName']}",
                    "DocumentType": "",
                    "DocumentSubType": "",
                    "EntityVersion": "1.0",
                    "InterchangeControlNumber": "",
                    "ServiceBusTriggerContent": "@{base64(outputs('Construct_Event_Message'))}",
                    "Interface": "BelkinReceive",
                    "MessageType": "AS2",
                    "ReceivedDateTime": "@{utcnow()}",
                    "Status": "Start",
                    "TestIndicator": "",
                    "Q2QTestIndicator": "",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "From": "@{triggerBody()?['Properties']?['From']}",
                    "To": "@{triggerBody()?['Properties']?['To']}",
                    "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}",
                    "GLNCode": "",
                    "CustomerName": "Belkin",
                    "WarehouseLocationCode": "",
                    "CustomerMessageId": ""
                  }
                }
              },
              "runAfter": {
                "Send_Trigger_Message": [
                  "Succeeded"
                ]
              }
            },
            "Report_Start_Event": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('reportUri'), '/api/Event')]",
                "body": {
                  "ArchivePath": "@{body('Archive')}",
                  "MessageID": "@{outputs('Construct_Event_Message')['Id']}",
                  "Interface": "",
                  "Component": "@{workflow()?['name']}",
                  "EventType": "Start",
                  "WorkflowId": "@string(workflow()['run']['name'])",
                  "CustomProperties": {
                    "CustomerName": "Belkin",
                    "CustomerPONo": "",
                    "GLN": "",
                    "ShipmentOrderNo": "",
                    "WareHouseCode": ""
                  }
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Archive": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('as2ConnectionName'))]",
                "connectionName": "[variables('as2ConnectionName')]"
              },
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('serviceBusConnectionName'))]",
                "connectionName": "[variables('serviceBusConnectionName')]",
                "sendTopicName": "[parameters('serviceBusSendTopicName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('as2ConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('serviceBusConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('as2ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]"
        },
        "displayName": "[variables('as2ConnectionDisplayName')]",
        "parameterValues": {
          "integrationAccountId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackURL(concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName')), '2015-08-01-preview').value]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('serviceBusConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[variables('serviceBusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceAuthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}