Interface.Post.Goods.Receipt.PWS.To.CDM/Resource.Group/LogicApps/ReceiveFromPws.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string"
    },
    "commonEnvironment": {
      "type": "string"
    },
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "australiasoutheast",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebusConnectionName": {
      "type": "string",
      "defaultValue": "ServiceBus"
    },
    "servicebusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "ServiceBus"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "sb-common"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "DEV-API-PostGoodsReceipt-PwsToCDM-Archive"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-Report"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    },
    "adAuthAudienceBlob": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "archiveAndReportingUri": "[concat('https://', parameters('environment'), '-', parameters('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobStorageUri": "[concat('https://', concat(parameters('environment'), '-', parameters('apiBlobConnectorAppName')), '.azurewebsites.net')]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName')),'Microsoft.ServiceBus/namespaces/authorizationRules', concat(parameters('environment'), '-', parameters('serviceBusNamespaceName')), 'RootManageSharedAccessKey')]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]"
      ],
      "tags": {
        "displayName": "logicApp"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "DocProps": {
              "type": "Compose",
              "inputs": {
                "AS2From": "LinfoxIntegration",
                "AS2To": "INOVIS",
                "Interface": "PostGoodsReceipt-PWStoBelkin",
                "ArchivePath": "@concat(utcnow('yyyyMMddHHmm'),'_',workflow()['run']['name'], '_', 'receive_', guid())",
                "EntityVersion": "1.0",
                "MessageType": "SOAP",
                "ReceiverPartnerName": "Belkin",
                "SenderPartner": "PWS",
                "Status": "Pending",
                "WorkflowGuid": "@string(workflow()['run']['name'])",
                "WorkflowName": "@{workflow()?['name']}"
              },
              "runAfter": {}
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('publish-postgoodsreceipt-pwssoap')}/messages",
                "body": {
                  "ContentData": "@{base64(triggerBody())}",
                  "ContentType": "application/xml",
                  "Properties": "@outputs('DocProps')",
                  "CorrelationId": "@guid()"
                }
              },
              "runAfter": {
                "DocProps": [
                  "Succeeded"
                ]
              }
            },
            "Log_Event": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('archiveAndReportingUri'), '/api/Event')]",
                "body": {
                  "CustomProperties": {
                    "CustomerName": "Belkin",
                    "CustomerPONo": "@xpath(xml(base64ToString(base64(triggerBody()))), 'substring-after(//*[local-name()=\"WMSDocNumber\"]/text(), //*[local-name()=\"GLNCode\"]/text())')",
                    "GLN": "@xpath(xml(base64ToString(base64(triggerBody()))), 'string(//*[local-name()=\"GLNCode\"]/text())')",
                    "ShipmentOrderNo": "01",
                    "WareHouseCode": "AU"
                  },
                  "component": "@{outputs('DocProps')['WorkflowName']}",
                  "eventType": "Start",
                  "interface": "@{outputs('DocProps')['Interface']}",
                  "messageID": "@{outputs('DocProps')['WorkflowGuid']}",
                  "timestamp": "@utcnow()"
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Send_message": [
                  "Succeeded"
                ]
              }
            },
            "Archive_Message": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobStorageUri'),'/api/Blob')]",
                "body": {
                  "BlobName": "@{outputs('DocProps')?['ArchivePath']}",
                  "ContainerName": "archive",
                  "MessageBody": "@{triggerBody()}"
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceBlob')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Log_Event": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]",
                "connectionName": "[parameters('servicebusConnectionName')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}