Interface.Post.Goods.Receipt.PWS.To.CDM/Resource.Group/LogicApps/TransformToCDM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "SIT"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebusConnectionName": {
      "type": "string",
      "defaultValue": "ServiceBus"
    },
    "servicebusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "ServiceBus"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "sb-common"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "API-DEV-PostGoodsReceipt-PwsToCDM-Archive"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-Report"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    },
    "adAuthAudienceBlob": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "integrationAccountId": "[resourceId(concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName')), 'Microsoft.Logic/integrationAccounts', concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName')))]",
    "archiveAndReportingUri": "[concat('https://', parameters('environment'), '-',parameters('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobStorageUri": "[concat('https://', parameters('environment'), '-',parameters('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName')),'Microsoft.ServiceBus/namespaces/authorizationRules', concat(parameters('environment'), '-', parameters('serviceBusNamespaceName')), 'RootManageSharedAccessKey')]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]"
      ],
      "tags": {
        "displayName": "logicApp"
      },
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "DocProps": {
              "type": "Compose",
              "inputs": {
                "ArchivePath": "@{triggerBody()?['Properties']['ArchivePath']}",
                "AS2From": "@{triggerBody()?['Properties']['AS2From']}",
                "AS2To": "@{triggerBody()?['Properties']['AS2To']}",
                "CustomerName": "@{xpath(body('Transform_XML'),'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')}",
                "CustShipOrderNo": "@{xpath(body('Transform_XML'),'string(//*[local-name()=\"GRHeader\"]/*[local-name()=\"PrmCustDocRefNo\"])')}",
                "DocSubType": "@xpath(body('Transform_XML'),'string(//*[local-name()=\"GRHeader\"]/*[local-name()=\"PrimCustDocType\"])')",
                "GLNCode": "@{xpath(body('Transform_XML'),'string(//*[local-name()=\"GLNCode\"]/text())')}",
                "Interface": "@{triggerBody()?['Properties']['Interface']}",
                "WorkflowGuid": "@{triggerBody()?['Properties']['WorkflowGuid']}",
                "WorkflowName": "@{triggerBody()?['Properties']['WorkflowName']}"
              },
              "runAfter": {
                "Transform_XML": [
                  "Succeeded"
                ]
              }
            },
            "Transform_XML": {
              "type": "Xslt",
              "inputs": {
                "content": "@{base64ToString(triggerBody()?['ContentData'])}",
                "integrationAccount": {
                  "map": {
                    "name": "[concat(parameters('environment'),'-', 'PWS.PostGoodsReceipt-To-CDM.PostGoodsReceipt')]"
                  }
                }
              },
              "runAfter": {}
            },
            "Complete_the_message_in_a_topic_subscription": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('publish-postgoodsreceipt-pwssoap')}/subscriptions/@{encodeURIComponent('publish')}/messages/complete",
                "queries": {
                  "lockToken": "@{triggerBody()?['LockToken']}",
                  "subscriptionType": "Main"
                }
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              }
            },
            "Update_Reporting": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('archiveAndReportingUri'), '/api/Event')]",
                "body": {
                  "ArchivePath": "@{body('Parse_JSON')?['ArchivePath']}",
                  "Component": "@workflow().name",
                  "CustomProperties": {
                    "CustomerName": "@{body('Parse_JSON')?['CustomerName']}",
                    "CustomerPONo": "@{body('Parse_JSON')?['CustShipOrderNo']}",
                    "GLN": "@{body('Parse_JSON')?['GLNCode']}"
                  },
                  "EventType": "Transform",
                  "Interface": "@{body('Parse_JSON')?['Interface']}",
                  "MessageID": "@{body('Parse_JSON')?['WorkflowGuid']}"
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Complete_the_message_in_a_topic_subscription": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": "@or(equals(body('Parse_JSON')?['DocSubType'], 'CO'), equals(body('Parse_JSON')?['DocSubType'], 'YM'))",
              "actions": {
                "Send_ReturnsConfirmation": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent('publish-returnmerchandiseconf-cdm')}/messages",
                    "body": {
                      "ContentData": "@{base64(body('Transform_XML'))}",
                      "ContentType": "@{triggerBody()?['ContentType']}",
                      "Properties": "@outputs('DocProps')",
                      "CorrelationId": "@triggerBody()?['CorrelationId']"
                    },
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_GoodsReceipt": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "api": {
                          "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                        },
                        "connection": {
                          "name": "@parameters('$connections')['servicebus']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/@{encodeURIComponent('publish-postgoodsreceipt-cdm')}/messages",
                      "body": {
                        "ContentData": "@{base64(body('Transform_XML'))}",
                        "ContentType": "@{triggerBody()?['ContentType']}",
                        "Properties": "@outputs('DocProps')",
                        "CorrelationId": "@triggerBody()?['CorrelationId']"
                      }
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('DocProps')",
                "schema": {
                  "properties": {
                    "ArchivePath": {
                      "type": "string"
                    },
                    "AS2From": {
                      "type": "string"
                    },
                    "AS2To": {
                      "type": "string"
                    },
                    "CustomerName": {
                      "type": "string"
                    },
                    "CustShipOrderNo": {
                      "type": "string"
                    },
                    "DocSubType": {
                      "type": "string"
                    },
                    "GLNCode": {
                      "type": "string"
                    },
                    "Interface": {
                      "type": "string"
                    },
                    "WorkflowGuid": {
                      "type": "string"
                    },
                    "WorkflowName": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "DocProps": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(peek-lock)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('publish-postgoodsreceipt-pwssoap')}/subscriptions/@{encodeURIComponent('publish')}/messages/head/peek",
                "queries": {
                  "subscriptionType": "Main"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]",
                "connectionName": "[parameters('servicebusConnectionName')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}