Interface.Post.Goods.Receipt.CDM.To.Sennheiser/Resource.Group/LogicApps/TransformToEdifact.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebusConnectionName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-APIConn-ServiceBus')]"
    },
    "servicebusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),' ServiceBus Connection')]"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-AS-StockReconciliation-CDMToBelkin-Archive')]"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-AS-StockReconciliation-CDM-ToBelkin-Report')]"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    },
    "adAuthAudienceBlob": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "integrationAccountId": "[resourceId(variables('commonResourceGroupName'), 'Microsoft.Logic/integrationAccounts', variables('integrationAccountName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "apiBlobConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiBlobConnectorAppName'))]",
    "apiReportingConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiReportingConnectorAppName'))]",
    "archiveAndReportingUri": "[concat('https://', variables('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobStorageUri": "[concat('https://', variables('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "transformMapName": "[concat(parameters('environment'), '-CDM.PostGoodsReceipt_To_Sennheiser.EFACT_D96A_RECADV')]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]"
      ],
      "tags": {
        "displayName": "logicApp"
      },
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Doc_Props": {
              "type": "Compose",
              "inputs": "@triggerBody()?['Properties']",
              "runAfter": {}
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Doc_Props')",
                "schema": {
                  "properties": {
                    "ArchivePath": {
                      "type": "string"
                    },
                    "ConNoteNumber": {
                      "type": "string"
                    },
                    "CustShipOrderNo": {
                      "type": "string"
                    },
                    "CustomerName": {
                      "type": "string"
                    },
                    "GLNCode": {
                      "type": "string"
                    },
                    "Interface": {
                      "type": "string"
                    },
                    "LfxShipOrderNo": {
                      "type": "string"
                    },
                    "POOrderNo": {
                      "type": "string"
                    },
                    "SalesOrderNo": {
                      "type": "string"
                    },
                    "WarehouseCode": {
                      "type": "string"
                    },
                    "WorkflowGuid": {
                      "type": "string"
                    },
                    "WorkflowName": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Doc_Props": [
                  "Succeeded"
                ]
              }
            },
            "Transform_XML": {
              "inputs": {
                "content": "@{base64ToString(triggerBody()?['ContentData'])}",
                "integrationAccount": {
                  "map": {
                    "name": "[variables('transformMapName')]"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Xslt"
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('publish-sennheiseredifactxml-outgoing')}/messages",
                "body": {
                  "ContentData": "@{base64(body('Transform_XML'))}",
                  "ContentType": "application/xml",
                  "Properties": "@triggerBody()?['Properties']",
                  "CorrelationId": "@{triggerBody()?['CorrelationId']}"
                }
              },
              "runAfter": {
                "Transform_XML": [
                  "Succeeded"
                ]
              }
            },
            "Log_to_Reporting": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('archiveAndReportingUri'), '/api/Event')]",
                "body": {
                  "ArchivePath": "@{body('Parse_JSON')?['ArchivePath']}",
                  "Component": "@workflow().name",
                  "CustomProperties": {
                    "CustomerName": "Sennheiser",
                    "CustomerPONo": "@{body('Parse_JSON')?['POOrderNo']}",
                    "GLN": "@{body('Parse_JSON')?['GLNCode']}",
                    "ShipmentOrderNo": "@{body('Parse_JSON')?['LfxShipOrderNo']}",
                    "WareHouseCode": "@{body('Parse_JSON')?['WarehouseCode']}"
                  },
                  "EventType": "Transform",
                  "Interface": "PostGoodsReceipt",
                  "MessageID": "@{body('Parse_JSON')?['CorrelationId']}"
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Send_message": [
                  "Succeeded"
                ]
              }
            },
            "Complete_the_message_in_a_topic_subscription": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('publish-postgoodsreceipt-cdm')}/subscriptions/@{encodeURIComponent('sennheiser')}/messages/complete",
                "queries": {
                  "lockToken": "@{triggerBody()?['LockToken']}",
                  "subscriptionType": "Main"
                }
              },
              "runAfter": {
                "Log_to_Reporting": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(peek-lock)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('publish-postgoodsreceipt-cdm')}/subscriptions/@{encodeURIComponent('sennheiser')}/messages/head/peek",
                "queries": {
                  "subscriptionType": "Main"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]",
                "connectionName": "[parameters('servicebusConnectionName')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}