Interface.AS2.EDI.Sennheiser.CC/Resource.Group/LogicApps/DecodeEDIFACT.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "APIConn-ServiceBus"
    },
    "serviceBusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "ServiceBus Connection"
    },
    "serviceBusSendTopicName": {
      "type": "string",
      "defaultValue": "publish-sennheiseredifactxml-incoming"
    },
    "edifact_Connection_Name": {
      "type": "string",
      "defaultValue": "APIConn-EDIFACT"
    },
    "edifact_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "EDIFACT Connection"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "apiBlobConnectorAppName": {
      "type": "string"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "AS-Report"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAudienceBlob": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    },
    "interfaceName": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "integrationAccountId": "[resourceId(variables('commonResourceGroupName'), 'Microsoft.Logic/integrationAccounts', variables('integrationAccountName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceAuthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "serviceBusConnectionName": "[concat(parameters('environment'), '-', parameters('serviceBusConnectionName'))]",
    "serviceBusConnectionDisplayName": "[concat(parameters('environment'), ' ', parameters('serviceBusConnectionDisplayName'))]",
    "apiBlobConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiBlobConnectorAppName'))]",
    "apiReportingConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiReportingConnectorAppName'))]",
    "reportUri": "[concat('https://', variables('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobUri": "[concat('https://', variables('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "edifact_Connection_Name": "[concat(parameters('environment'),'-', parameters('edifact_Connection_Name'))]",
    "edifact_Connection_DisplayName": "[concat(parameters('environment'),' ', parameters('edifact_Connection_DisplayName'))]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ],
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Decode_EDIFACT_Messages": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/edifact"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['edifact']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/decode",
                "body": "@base64ToString(triggerBody()?['Base64MessageBody'])"
              },
              "trackedProperties": {
                "correlationId": "@guid()",
                "interfaceName": "[parameters('interfaceName')]",
                "customerName": ""
              },
              "runAfter": {}
            },
            "For_Each_Good_edifact_Message": {
              "type": "Foreach",
              "foreach": "@body('Decode_edifact_Messages')?['GoodMessages']",
              "actions": {
                "Construct_Event_Message": {
                  "type": "Compose",
                  "inputs": {
                    "Id": "@guid()",
                    "Type": "messagebox"
                  },
                  "runAfter": {},
                  "trackedProperties": {
                    "correlationId": "@action().inputs.Id",
                    "interfaceName": "[parameters('interfaceName')]",
                    "customerName": ""
                  }
                },
                "Good_EDIFACT_Document_Properties": {
                  "type": "Compose",
                  "inputs": {
                    "AS2From": "@triggerBody()?['Properties']?['AS2From']",
                    "AS2To": "@triggerBody()?['Properties']?['AS2To']",
                    "Agreement": "@triggerBody()?['Properties']?['Agreement']",
                    "DocSubType": "@xpath(xml(base64ToString(item()?['payload'])), 'string(//*[local-name()=\"REF\"][REF01=\"K6\"][1]/*[local-name()=\"REF02\"])')",
                    "DocType": "@{item()?['TransactionSet']?['ST01']}",
                    "EntityVersion": "@triggerBody()?['Properties']?['EntityVersion']",
                    "InterchangeControlNo": "@{item()?['InterchangeControlNumber']}",
                    "Interface": "@{concat(item()?['TransactionSet']?['ST01'],'-', xpath(xml(base64ToString(item()?['payload'])), 'string(//*[local-name()=\"REF\"][REF01=\"K6\"][1]/*[local-name()=\"REF02\"])'))}",
                    "MessageType": "@triggerBody()?['Properties']?['MessageType']",

                    "ReceivedDateTime": "@triggerBody()?['Properties']?['ReceivedDateTime']",
                    "ReceiverPartnerName": "@triggerBody()?['Properties']?['ReceiverPartnerName']",
                    "SenderPartner": "@triggerBody()?['Properties']?['SenderPartner']",
                    "Status": "@triggerBody()?['Properties']?['Status']",
                    "TestIndicator": "@{item()?['InterchangeEnvelope']?['ISA15']}",
                    "Q2QTestIndicator": "@triggerBody()?['Properties']?['Q2QTestIndicator']",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "EdifactFrom": "@{item()?['InterchangeEnvelope']?['ISA06']}",
                    "EdifactTo": "@{item()?['InterchangeEnvelope']?['ISA08']}",
                    "ArchiveBlobName": "@concat(utcnow('yyyyMMdd'),'-', outputs('Construct_Event_Message')['Id'], '-', 'Transform', '-', workflow()['run']['name'], '-', utcnow('HHmmss'))",
                    "Customer": ""
                  },
                  "runAfter": {
                    "Construct_Event_Message": [
                      "Succeeded"
                    ]
                  },
                  "trackedProperties": {
                    "correlationId": "",
                    "interfaceName": "[parameters('interfaceName')]",
                    "customerName": "@action().inputs.Customer"
                  }
                },
                "Archive": {
                  "type": "Http",
                  "inputs": {
                    "method": "post",
                    "uri": "[concat(variables('blobUri'), '/api/Blob')]",
                    "body": {
                      "BlobName": "@{outputs('Good_EDIFACT_Document_Properties')['ArchiveBlobName']}",
                      "ContainerName": "archive-as2edi-sennheiserinboundandoutbound",
                      "Base64MessageBody": "@{item()?['Payload']}",
                      "Properties": {
                        "AS2From": "@triggerBody()?['Properties']?['AS2From']",
                        "AS2To": "@triggerBody()?['Properties']?['AS2To']",
                        "EdifactFrom": "@{item()?['InterchangeEnvelope']?['ISA06']}",
                        "EdifactTo": "@{item()?['InterchangeEnvelope']?['ISA08']}",
                        "ReceiverPartnerName": "@triggerBody()?['Properties']?['ReceiverPartnerName']",
                        "SenderPartnerName": "@{triggerBody()?['Properties']?['SenderPartnerName']}",
                        "Agreement": "@triggerBody()?['Properties']?['Agreement']",
                        "DocumentType": "@{item()?['TransactionSet']?['ST01']}",
                        "DocumentSubType": "@xpath(xml(base64ToString(item()?['payload'])), 'string(//*[local-name()=\"REF\"][REF01=\"K6\"][1]/*[local-name()=\"REF02\"])')",
                        "EntityVersion": "@{triggerBody()?['Properties']?['EntityVersion']}",
                        "InterchangeControlNumber": "@{item()?['InterchangeControlNumber']}",
                        "ServiceBusTriggerContent": "@{base64(outputs('Construct_Event_Message'))}",
                        "Interface": "[parameters('interfaceName')]",
                        "MessageType": "@triggerBody()?['Properties']?['MessageType']",
                        "ReceivedDateTime": "@triggerBody()?['Properties']?['ReceivedDateTime']",
                        "Status": "@{triggerBody()?['Properties']?['Status']}",
                        "TestIndicator": "@{item()?['InterchangeEnvelope']?['ISA15']}",
                        "Q2QTestIndicator": "@{triggerBody()?['Properties']?['Q2QTestIndicator']}",
                        "WorkflowGuid": "@string(workflow()['run']['name'])",
                        "WorkflowName": "@{workflow()?['name']}",
                        "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                        "From": "@{triggerBody()?['Properties']?['From']}",
                        "To": "@{triggerBody()?['Properties']?['To']}",
                        "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}",
                        "GLNCode": "",
                        "CustomerName": "Sennheiser",
                        "WarehouseLocationCode": "",
                        "CustomerMessageId": ""
                      }
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "authority": "[parameters('adAuthAuthority')]",
                      "tenant": "[parameters('adAuthTenant')]",
                      "audience": "[parameters('adAuthAudienceBlob')]",
                      "clientId": "[parameters('adAuthClientId')]",
                      "secret": "[parameters('adAuthSecret')]"
                    }
                  },
                  "runAfter": {
                    "Good_EDIFACT_Document_Properties": [
                      "Succeeded"
                    ]
                  },
                  "trackedProperties": {
                    "correlationId": "@action().inputs.body.Properties.CorrelationId",
                    "interfaceName": "[parameters('interfaceName')]",
                    "customerName": "@action().inputs.body.Properties.CustomerName"
                  }
                },
                "Send_message": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent('publish-sennheiseredifactxml-incoming')}/messages",
                    "body": {
                      "ContentData": "@{item()?['Payload']}",
                      "ContentType": "text/xml",
                      "Properties": "@outputs('Good_EDIFACT_Document_Properties')",
                      "CorrelationId": "@outputs('Construct_Event_Message')['Id']"
                    },
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Archive": [
                      "Succeeded"
                    ]
                  },
                  "trackedProperties": {
                    "correlationId": "@action().inputs.body.CorrelationId",
                    "interfaceName": "[parameters('interfaceName')]",
                    "customerName": "@action().inputs.body.Properties.Customer"
                  }
                },
                "Report": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[concat(variables('reportUri'), '/api/Event')]",
                    "body": {
                      "ArchivePath": "@concat('as2edi-sennheiserinboundandoutbound', '/', outputs('Good_EDIFACT_Document_Properties')['ArchiveBlobName'])",
                      "MessageID": "@{outputs('Construct_Event_Message')['Id']}",
                      "Component": "@{workflow()?['name']}",
                      "EventType": "Start",
                      "WorkflowId": "@string(workflow()['run']['name'])",
                      "Interface": "SennheiserAS2EDI",
                      "CustomProperties": {
                        "CustomerName": "",
                        "CustomerPONo": "",
                        "GLN": "",
                        "ShipmentOrderNo": "",
                        "WareHouseCode": ""
                      }
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "authority": "[parameters('adAuthAuthority')]",
                      "tenant": "[parameters('adAuthTenant')]",
                      "audience": "[parameters('adAuthAudienceReport')]",
                      "clientId": "[parameters('adAuthClientId')]",
                      "secret": "[parameters('adAuthSecret')]"
                    }
                  },
                  "runAfter": {
                    "Send_message": [
                      "Succeeded"
                    ]
                  },
                  "trackedProperties": {
                    "correlationId": "@action().inputs.body.MessageID",
                    "interfaceName": "[parameters('interfaceName')]",
                    "customerName": "@action().inputs.body.CustomProperties.CustomerName"
                  }
                }
              },
              "runAfter": {
                "Decode_EDIFACT_Messages": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": "@equals(empty(body('Decode_EDIFACT_Messages')?['BadMessages']), 'true')",
              "actions": {},
              "runAfter": {
                "For_Each_Bad_EDIFACT_Message": [
                  "Succeeded"
                ]
              }
            },
            "For_Each_Bad_EDIFACT_Message": {
              "type": "Foreach",
              "foreach": "@body('Decode_EDIFACT_Messages')?['BadMessages']",
              "actions": {
                "Compose": {
                  "type": "Compose",
                  "inputs": {
                    "Base64BadMessage": "@{base64(item())}"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "For_Each_Good_EDIFACT_Message": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "correlationId": "",
                "interfaceName": "[parameters('interfaceName')]",
                "customerName": ""
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "topics": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$schema": "http://json-schema.org/draft-04/schema#",
                  "id": "http://integration.linfox.com/root.json",
                  "properties": {
                    "Base64MessageBody": {
                      "default": "",
                      "description": "The message body encoded as Base64.",
                      "id": "http://integration.linfox.com/root.json/Base64MessageBody",
                      "title": "Base64 Message Body",
                      "type": "string"
                    },
                    "BlobName": {
                      "default": "",
                      "description": "The name of the blob the archive was last saved to.",
                      "id": "http://integration.linfox.com/root.json/BlobName",
                      "title": "Blob Name",
                      "type": "string"
                    },
                    "ContainerName": {
                      "default": "archive",
                      "description": "The container name of the storage account used for blob storage.",
                      "id": "http://integration.linfox.com/root.json/ContainerName",
                      "title": "Container Name",
                      "type": "string"
                    },
                    "Properties": {
                      "id": "http://integration.linfox.com/root.json/Properties",
                      "properties": {
                        "AS2From": {
                          "default": "",
                          "description": "The AS2 From parameter of the AS2 message.",
                          "id": "http://integration.linfox.com/root.json/Properties/AS2From",
                          "title": "AS2 From",
                          "type": "string"
                        },
                        "AS2To": {
                          "default": "",
                          "description": "The AS2 To parameter of the AS2 message.",
                          "id": "http://integration.linfox.com/root.json/Properties/AS2To",
                          "title": "AS2 To",
                          "type": "string"
                        },
                        "Agreement": {
                          "default": "",
                          "description": "The AS2 or EDI agreement name.",
                          "id": "http://integration.linfox.com/root.json/Properties/Agreement",
                          "title": "Agreement",
                          "type": "string"
                        },
                        "CorrelationId": {
                          "default": "",
                          "description": "A unique id used for correlation throughout the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/CorrelationId",
                          "title": "Correlation Id",
                          "type": "string"
                        },
                        "DocumentSubType": {
                          "default": "",
                          "description": "The sub-type of the message document.",
                          "id": "http://integration.linfox.com/root.json/Properties/DocumentSubType",
                          "title": "Document Sub-Type",
                          "type": "string"
                        },
                        "DocumentType": {
                          "default": "",
                          "description": "The type of the message document.",
                          "id": "http://integration.linfox.com/root.json/Properties/DocumentType",
                          "title": "Document Type",
                          "type": "string"
                        },
                        "EntityVersion": {
                          "default": "1.0",
                          "description": "The version of the message entity.",
                          "id": "http://integration.linfox.com/root.json/Properties/EntityVersion",
                          "title": "Entity Version",
                          "type": "string"
                        },
                        "From": {
                          "default": "",
                          "description": "Generic From parameter.",
                          "id": "http://integration.linfox.com/root.json/Properties/From",
                          "title": "From",
                          "type": "string"
                        },
                        "InterchangeControlNumber": {
                          "default": "",
                          "description": "EDI interchange control number.",
                          "id": "http://integration.linfox.com/root.json/Properties/InterchangeControlNumber",
                          "title": "Interchange Control Number",
                          "type": "string"
                        },
                        "Interface": {
                          "default": "",
                          "description": "The name of the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/Interface",
                          "title": "Interface",
                          "type": "string"
                        },
                        "MessageType": {
                          "default": "",
                          "description": "The incoming type of the message.",
                          "id": "http://integration.linfox.com/root.json/Properties/MessageType",
                          "title": "MessageType",
                          "type": "string"
                        },
                        "Q2QTestIndicator": {
                          "default": "",
                          "description": "Boolean indicator as to whether this is a Q2Q test.",
                          "id": "http://integration.linfox.com/root.json/Properties/Q2QTestIndicator",
                          "title": "Q2Q Test Indicator",
                          "type": "string"
                        },
                        "ReceivedDateTime": {
                          "default": "",
                          "description": "The date and time at which the message was received.",
                          "id": "http://integration.linfox.com/root.json/Properties/ReceivedDateTime",
                          "title": "Received Date Time",
                          "type": "string"
                        },
                        "ReceiverPartnerName": {
                          "default": "",
                          "description": "AS2 receiver partner name.",
                          "id": "http://integration.linfox.com/root.json/Properties/ReceiverPartnerName",
                          "title": "Receiver Partner Name",
                          "type": "string"
                        },
                        "SenderPartnerName": {
                          "default": "",
                          "description": "AS2 Sender Partner Name.",
                          "id": "http://integration.linfox.com/root.json/Properties/SenderPartnerName",
                          "title": "Sender Partner Name",
                          "type": "string"
                        },
                        "ServiceBusTriggerContent": {
                          "default": "",
                          "description": "The service bus trigger content.",
                          "id": "http://integration.linfox.com/root.json/ServiceBusTriggerContent",
                          "title": "ServiceBus Trigger Content",
                          "type": "string"
                        },
                        "Status": {
                          "default": "",
                          "description": "The status of the message within the interface.",
                          "id": "http://integration.linfox.com/root.json/Properties/Status",
                          "title": "Status",
                          "type": "string"
                        },
                        "TestIndicator": {
                          "default": "",
                          "description": "EDI test indicator.",
                          "id": "http://integration.linfox.com/root.json/Properties/TestIndicator",
                          "title": "Test Indicator",
                          "type": "string"
                        },
                        "To": {
                          "default": "",
                          "description": "Generic To parameter.",
                          "id": "http://integration.linfox.com/root.json/Properties/To",
                          "title": "To",
                          "type": "string"
                        },
                        "WorkflowGuid": {
                          "default": "",
                          "description": "GUID of the current Logic App.",
                          "id": "http://integration.linfox.com/root.json/Properties/WorkflowGuid",
                          "title": "Workflow GUID",
                          "type": "string"
                        },
                        "WorkflowName": {
                          "default": "",
                          "description": "Name of the current Logic App.",
                          "id": "http://integration.linfox.com/root.json/Properties/WorkflowName",
                          "title": "Workflow Name",
                          "type": "string"
                        },
                        "EdifactFrom": {
                          "default": "",
                          "description": "The Edifact From parameter of the EDI message.",
                          "id": "http://integration.linfox.com/root.json/Properties/EdifactFrom",
                          "title": "Edifact From.",
                          "type": "string"
                        },
                        "EdifactTo": {
                          "default": "",
                          "description": "The Edifact To parameter of the EDI message.",
                          "id": "http://integration.linfox.com/root.json/Properties/EdifactTo",
                          "title": "Edifact To",
                          "type": "string"
                        },
                        "GLNCode": {
                          "default": "",
                          "description": "Customer GLN Code.",
                          "id": "http://integration.linfox.com/root.json/Properties/GLNCode",
                          "title": "GLN Code",
                          "type": "string"
                        },
                        "CustomerName": {
                          "default": "",
                          "description": "Customer Name.",
                          "id": "http://integration.linfox.com/root.json/Properties/CustomerName",
                          "title": "Customer Name",
                          "type": "string"
                        },
                        "WarehouseLocationCode": {
                          "default": "",
                          "description": "Warehouse Location Code.",
                          "id": "http://integration.linfox.com/root.json/Properties/WarehouseLocationCode",
                          "title": "Warehouse Location Code",
                          "type": "string"
                        },
                        "AssociatedServiceBusTopicName": {
                          "default": "",
                          "description": "Associated Service Bus Topic name.",
                          "id": "http://integration.linfox.com/root.json/Properties/AssociatedServiceBusTopicName",
                          "title": "Associated Service Bus Topic Name",
                          "type": "string"
                        },
                        "CustomerMessageId": {
                          "default": "",
                          "description": "Customer message id.",
                          "id": "http://integration.linfox.com/root.json/Properties/CustomerMessageId",
                          "title": "Customer Message Id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "edifact": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'edifact')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('edifact_Connection_Name'))]",
                "connectionName": "[variables('edifact_Connection_Name')]"
              },
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('serviceBusConnectionName'))]",
                "connectionName": "[variables('serviceBusConnectionName')]"
              }
            }
          },
          "topics": {
            "value": {
              "servicebus": {
                "sendTopicName": "[parameters('serviceBusSendTopicName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('edifact_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('serviceBusConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[variables('serviceBusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceAuthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('edifact_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'edifact')]"
        },
        "displayName": "[variables('edifact_Connection_DisplayName')]",
        "parameterValues": {
          "integrationAccountId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackURL(concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName')), '2015-08-01-preview').value]"
        }
      }
    }
  ],
  "outputs": {}
}