Interface.AS2.EDI.Sennheiser.CC/Resource.Group/LogicApps/ReceiveAS2FromSennheiser.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "[variables('commonResourceGroupName')]",
      "metadata": {
        "description": "Name of the Common Integration Resource Group referenced by this Logic App."
      }
    },
    "archiveContainerName": {
      "type": "string",
      "defaultValue": "archive"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "[variables('integrationAccountName')]",
      "metadata": {
        "description": "Name of the Integration Account used by this Logic App."
      }
    },
    "as2_Connection_Name": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-APIConn-AS2')]"
    },
    "as2_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),' AS2 Connection')]"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "servicebus_Connection_Name": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-APIConn-ServiceBus')]"
    },
    "servicebus_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),' ServiceBus Connection')]"
    },
    "apiBlobConnectorAppName": {
      "type": "string"
    },
    "apiReportingConnectorAppName": {
      "type": "string"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    }
  },
  "variables": {
    "archiveAndReportingUri": "[concat('https://', parameters('environment'), '-', parameters('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobStorageUri": "[concat('https://', concat(parameters('environment'), '-', parameters('apiBlobConnectorAppName')), '.azurewebsites.net')]",
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceAuthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Decode_AS2_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/as2"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/decode",
                "body": "@triggerBody()",
                "headers": "@triggerOutputs()['headers']"
              },
              "runAfter": {}
            },
            "Check_MDN_Expected": {
              "type": "If",
              "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
              "actions": {
                "Check_MDN_Type": {
                  "type": "If",
                  "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                  "actions": {
                    "Send_200_OK_for_Async_MDN": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200
                      },
                      "runAfter": {}
                    },
                    "Send_Async_MDN": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                        "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                        "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                      },
                      "runAfter": {
                        "Send_200_OK_for_Async_MDN": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_Sync_MDN": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                          "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Send_message": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_200_OK": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('publish-sennheiseredifact-incoming')}/messages",
                "body": {
                  "ContentData": "@body('Decode_AS2_message')?['AS2Message']?['Content']",
                  "ContentType": "text/plain",
                  "Properties": "@outputs('AS2_Document_Properties')",
                  "CorrelationId": "@{outputs('AS2_Document_Properties')['CorrelationId']}"
                }
              },
              "runAfter": {
                "AS2_Document_Properties": [
                  "Succeeded"
                ]
              }
            },
            "AS2_Document_Properties": {
              "type": "Compose",
              "inputs": {
                "AS2From": "@{body('Decode_AS2_message')?['AS2Message']?['AS2From']}",
                "AS2To": "@{body('Decode_AS2_message')?['AS2Message']?['AS2To']}",
                "Agreement": "@{body('Decode_AS2_message')?['AS2Message']?['AgreementName']}",
                "ArchivePath": "@concat(utcnow('yyyyMMddHHmm'),'_',workflow()['run']['name'], '_', 'receive_', guid())",
                "CustomerName": "Sennheiser",
                "CorrelationId": "@guid()",
                "DocSubType": "",
                "DocType": "",
                "EntityVersion": "1.0",
                "InterchangeControlNo": "",
                "Interface": "SennheiserReceive",
                "MessageType": "AS2",
                "ReceivedDateTime": "@{utcnow()}",
                "ReceiverPartnerName": "@{body('Decode_AS2_message')?['AS2Message']?['ReceiverPartnerName']}",
                "SenderPartner": "@{body('Decode_AS2_message')?['AS2Message']?['SenderPartnerName']}",
                "Status": "Pending",
                "TestIndicator": "",
                "WorkflowGuid": "@guid()",
                "WorkflowName": "@{workflow()['run']['name']}",
                "X12From": "",
                "X12To": ""
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              }
            },
            "Archive": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobStorageUri'), '/api/Blob')]",
                "body": {
                  "BlobName": "@{outputs('AS2_Document_Properties')['ArchivePath']}",
                  "MessageBody": "@{body('Decode_AS2_message')?['AS2Message']?['Content']}",
                  "ContainerName": "archive"
                }
              },
              "runAfter": {
                "Check_MDN_Expected": [
                  "Succeeded"
                ]
              }
            },
            "Report_Event": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('archiveAndReportingUri'), '/api/Event')]",
                "body": {
                  "MessageID": "@{outputs('AS2_Document_Properties')['WorkflowGuid']}",
                  "Interface": "@{outputs('AS2_Document_Properties')['Interface']}",
                  "Component": "@{outputs('AS2_Document_Properties')['WorkflowName']}",
                  "EventType": "Started",
                  "ArchivePath": "@{outputs('AS2_Document_Properties').ArchivePath}",
                  "CustomProperties": {
                    "CustomerName": "@{outputs('AS2_Document_Properties')['CustomerName']}",
                    "GLN": "n/a",
                    "WareHouseCode": "n/a",
                    "ShipmentOrderNo": "n/a",
                    "CustomerPONo": "n/a"
                  }
                },
                "authentication": {
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "authority": "[parameters('adAuthAuthority')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "type": "ActiveDirectoryOAuth"
                }
              },
              "runAfter": {
                "Archive": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('as2_Connection_Name'))]",
                "connectionName": "[parameters('as2_Connection_Name')]"
              },
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('as2_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('servicebus_Connection_Name'))]"
      ],
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('as2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]"
        },
        "displayName": "[parameters('as2_Connection_DisplayName')]",
        "parameterValues": {
          "integrationAccountId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackURL(concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.Logic/integrationAccounts/', variables('integrationAccountName')), '2015-08-01-preview').value]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebus_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebus_Connection_DisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceAuthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}