Integration.Common/scripts/test2.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "SIT"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebusConnectionName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-APIConn-ServiceBus')]"
    },
    "servicebusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),' ServiceBus Connection')]"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "integrationAccountName": {
      "type": "string",
      "defaultValue": "IA-Common"
    },
    "apiBlobConnectorAppName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-AS-StockReconciliation-PWSToCDM-Archive')]"
    },
    "apiReportingConnectorAppName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-AS-Report')]"
    },
    "eventHubName": {
      "value ": "eh-common"
    },
    "eventHubRuleId": {
      "value": "Reporting"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "integrationAccountName": "[concat(parameters('commonEnvironment'), '-', parameters('integrationAccountName'))]",
    "integrationAccountId": "[resourceId(variables('commonResourceGroupName'), 'Microsoft.Logic/integrationAccounts', variables('integrationAccountName'))]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "apiBlobConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiBlobConnectorAppName'))]",
    "apiReportingConnectorAppName": "[concat(parameters('environment'),'-', parameters('apiReportingConnectorAppName'))]",
    "archiveAndReportingUri": "[concat('https://', variables('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobStorageUri": "[concat('https://', variables('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "transformMapName": "[concat(parameters('environment'), '-Belkin.X12.00401.856.ASN-To-CDM.ASN')]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubRuleId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]"
      ],
      "tags": {
        "displayName": "logicApp"
      },
      "properties": {
        "integrationAccount": {
          "id": "[variables('integrationAccountId')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "DocProps": {
              "type": "Compose",
              "inputs": "@triggerBody()?['Properties']",
              "runAfter": {}
            },
            "Failure_Scope": {
              "type": "Scope",
              "actions": {
                "Log_Exception": {
                  "type": "Http",
                  "inputs": {
                    "method": "post",
                    "uri": "[concat(variables('archiveAndReportingUri'), '/api/Exception')]",
                    "body": {
                      "Component": "@{workflow()?['name']}",
                      "ErrorMessage": "Error during Transform to CDM",
                      "EventType": "Error",
                      "Interface": "@{outputs('DocProps')['Interface']}",
                      "MessageID": "@{outputs('DocProps')['WorkflowGuid']}",
                      "StatusCode": "Error"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Main_Scope": [
                  "Failed"
                ]
              }
            },
            "Success_Scope": {
              "type": "Scope",
              "actions": {
                "Complete_the_message_in_a_topic_subscription": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "delete",
                    "path": "/@{encodeURIComponent('publish-belkinx12xml-incoming')}/subscriptions/@{encodeURIComponent('Receive_856_ASN')}/messages/complete",
                    "queries": {
                      "lockToken": "@{triggerBody()?['LockToken']}",
                      "subscriptionType": "Main"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Main_Scope": [
                  "Succeeded"
                ]
              }
            },
            "Main_Scope": {
              "type": "Scope",
              "actions": {
                "Blob_Post": {
                  "type": "Http",
                  "inputs": {
                    "method": "post",
                    "uri": "[concat(variables('blobStorageUri'),'/api/Blob')]",
                    "body": {
                      "BlobName": "@concat(utcnow('yyyyMMddHHmm'),'_',workflow()['run']['name'], '_transform_', guid())",
                      "ContainerName": "archive",
                      "MessageBody": "@{body('Transform_to_CDM')}"
                    }
                  },
                  "runAfter": {
                    "Log_to_Reporting": [
                      "Succeeded"
                    ]
                  }
                },
                "Transform_to_CDM": {
                  "type": "Xslt",
                  "inputs": {
                    "content": "@{base64ToString(triggerBody()?['ContentData'])}",
                    "integrationAccount": {
                      "map": {
                        "name": "[variables('transformMapName')]"
                      }
                    },
                    "xsltParameters": {
                      "params:currentDateTime": "@{outputs('DocProps')?['ReceivedDateTime']}",
                      "params:interchangeControlNumber": "@{outputs('DocProps')?['InterchangeControlNo']}",
                      "params:testIndicator": "@{outputs('DocProps')?['TestIndicator']}",
                      "params:glnCode": "3106042055",
                      "params:customerName": "@{outputs('DocProps')?['CustomerName']}"
                    }
                  },
                  "runAfter": {}
                },
                "Send_message": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent('publish-advanceshippingnotice-cdm')}/messages",
                    "body": {
                      "CorrelationId": "@triggerBody()?['CorrelationId']",
                      "ContentData": "@{base64(body('Transform_to_CDM'))}",
                      "ContentType": "text/xml",
                      "Properties": "@triggerBody()?['Properties']"
                    },
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Transform_to_CDM": [
                      "Succeeded"
                    ]
                  }
                },
                "Log_to_Reporting": {
                  "type": "Http",
                  "inputs": {
                    "method": "post",
                    "uri": "[concat(variables('archiveAndReportingUri'),'/api/Event')]",
                    "body": {
                      "Component": "@{workflow()?['name']}",
                      "CustomProperties": {
                        "CustomerName": "Belkin",
                        "CustomerPONo": "@xpath(xml(body('Transform_to_CDM')), 'substring-after(/*[local-name()=\"ASN\"]/*[local-name()=\"ASNHeaderDetails\"]/*[local-name()=\"ASNNumber\"]/text(), /*[local-name()=\"ASN\"]/*[local-name()=\"MessageHeader\"]/*[local-name()=\"GLNCode\"]/text())')",
                        "GLN": "@xpath(xml(body('Transform_to_CDM')), 'string(/*[local-name()=\"ASN\"]/*[local-name()=\"MessageHeader\"]/*[local-name()=\"GLNCode\"])')",
                        "ShipmentOrderNo": "01",
                        "WareHouseCode": "@xpath(xml(body('Transform_to_CDM')), 'string(/*[local-name()=\"ASN\"]/*[local-name()=\"MessageHeader\"]/*[local-name()=\"WarehouseLocationCode\"])')"
                      },
                      "EventType": "Transform",
                      "Interface": "@{outputs('DocProps')['Interface']}",
                      "MessageID": "@{outputs('DocProps')['WorkflowGuid']}"
                    }
                  },
                  "runAfter": {
                    "Send_message": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "DocProps": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(peek-lock)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('publish-belkinx12xml-incoming')}/subscriptions/@{encodeURIComponent('Receive_856_ASN')}/messages/head/peek",
                "queries": {
                  "subscriptionType": "Main"
                }
              },
              "recurrence": {
                "frequency": "Second",
                "interval": 30
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]",
                "connectionName": "[parameters('servicebusConnectionName')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {}
}