Interface.Post.Goods.Issue.PWS.To.CDM/Resource.Group/LogicApps/ReceiveFromPWS.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "commonEnvironment": {
      "type": "string",
      "defaultValue": "DEV"
    },
    "servicebusConnectionName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),'-APIConn-ServiceBus')]"
    },
    "servicebusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "[concat(parameters('environment'),' ServiceBus Connection')]"
    },
    "serviceBusNamespaceName": {
      "type": "string",
      "defaultValue": "SB-Common"
    },
    "serviceBusSendTopicName": {
      "type": "string",
      "defaultValue": "publish-postgoodsissue-pwssoap"
    },
    "eventHubName": {
      "type": "string",
      "defaultValue": "eh-common"
    },
    "eventHubRuleId": {
      "type": "string",
      "defaultValue": "Reporting"
    },
    "commonResourceGroupName": {
      "type": "string",
      "defaultValue": "Integration-Common"
    },
    "apiBlobConnectorAppName": {
      "type": "string"
    },
    "apiReportingConnectorAppName": {
      "type": "string"
    },
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "adAuthAudienceReport": {
      "type": "string"
    },
    "adAuthAudienceBlob": {
      "type": "string"
    },
    "adAuthAuthority": {
      "type": "string"
    },
    "adAuthClientId": {
      "type": "string"
    },
    "adAuthSecret": {
      "type": "string"
    },
    "adAuthTenant": {
      "type": "string"
    }
  },
  "variables": {
    "logicAppName": "[concat(parameters('environment'), '-', parameters('logicAppName'))]",
    "commonResourceGroupName": "[concat(parameters('commonEnvironment'), '-', parameters('commonResourceGroupName'))]",
    "reportUri": "[concat('https://', parameters('environment'), '-', parameters('apiReportingConnectorAppName'), '.azurewebsites.net')]",
    "blobUri": "[concat('https://', parameters('environment'), '-', parameters('apiBlobConnectorAppName'), '.azurewebsites.net')]",
    "serviceBusNamespaceName": "[concat(parameters('environment'), '-', parameters('serviceBusNamespaceName'))]",
    "serviceBusNamespaceauthRuleResourceId": "[resourceId(variables('commonResourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', variables('serviceBusNamespaceName'), 'RootManageSharedAccessKey')]",
    "eventHubName": "[concat(parameters('environment'), '-', parameters('eventHubName'))]",
    "eventHubResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', variables('commonResourceGroupName'), '/providers/Microsoft.EventHub/namespaces/', variables('eventHubName'))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]"
      ],
      "tags": {
        "displayName": "logicApp"
      },
      "resources": [
        {
          "type": "providers/diagnosticSettings",
          "name": "Microsoft.Insights/service",
          "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
          ],
          "apiVersion": "2015-07-01",
          "properties": {
            "serviceBusResourceId": "[variables('eventHubResourceId')]",
            "serviceBusRuleId": "[concat(variables('eventHubResourceId'), '/authorizationrules/', parameters('eventHubRuleId'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 0,
                  "enabled": false
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "PT1M",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 1
                }
              }
            ]
          }
        }
      ],
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Send_Trigger_Message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-australiasoutheast.azure-apim.net/apim/servicebus"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(parameters('topics')['servicebus']['sendTopicName'])}/messages",
                "body": {
                  "ContentData": "@{base64(outputs('Construct_Event_Message'))}",
                  "ContentType": "application/json",
                  "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}"
                },
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "MessageBox": [
                  "Succeeded"
                ]
              }
            },
            "Archive": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/blob')]",
                "body": {
                  "BlobName": "@{concat(parameters('topics')['servicebus']['sendTopicName'], '/', outputs('Construct_Event_Message')['Id'])}",
                  "ContainerName": "archive",
                  "Base64MessageBody": "@{base64(string(triggerBody()))}",
                  "Properties": {
                    "From": "PWS",
                    "To": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')",
                    "DocumentType": "",
                    "EntityVersion": "1.0",
                    "InterchangeControlNumber": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"ID\"])')",
                    "ServiceBusTriggerContent": "@{base64(outputs('Construct_Event_Message'))}",
                    "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}",
                    "Interface": "PostGoodsIssue",
                    "MessageType": "PostGoodsIssue",
                    "ReceivedDateTime": "@utcnow()",
                    "Status": "Pending",
                    "TestIndicator": "",
                    "Q2QTestIndicator": "false",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "GLNCode": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"GLNCode\"])')",
                    "CustomerName": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')",
                    "WarehouseLocationCode": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"WarehouseLocationCode\"])')",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "CustomerMessageId": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"GIHeader\"]/*[local-name()=\"SalesOrderNumber\"])')"
                  }
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "[parameters('adAuthAuthority')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "audience": "[parameters('adAuthAudienceBlob')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]"
                }
              },
              "runAfter": {
                "Construct_Event_Message": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "correlationId": "@action()['inputs']['body']['Properties']['CorrelationId']",
                "customerName": "@action()['inputs']['body']['Properties']['CustomerName']",
                "interfaceName": "@action()['inputs']['body']['Properties']['Interface']"
              }
            },
            "Construct_Event_Message": {
              "type": "Compose",
              "inputs": {
                "Id": "@coalesce(trigger().outputs?.headers?.CorrelationId, guid())",
                "Type": "messagebox"
              },
              "runAfter": {}
            },
            "MessageBox": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('blobUri'), '/api/blob')]",
                "body": {
                  "BlobName": "@{concat(parameters('topics')['servicebus']['sendTopicName'], '/', outputs('Construct_Event_Message')['Id'])}",
                  "ContainerName": "messagebox",
                  "Base64MessageBody": "@{base64(string(triggerBody()))}",
                  "Properties": {
                    "From": "PWS",
                    "To": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')",
                    "DocumentType": "",
                    "EntityVersion": "1.0",
                    "InterchangeControlNumber": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"ID\"])')",
                    "ServiceBusTriggerContent": "@{base64(outputs('Construct_Event_Message'))}",
                    "CorrelationId": "@{outputs('Construct_Event_Message')['Id']}",
                    "Interface": "PostGoodsIssue",
                    "MessageType": "PostGoodsIssue",
                    "ReceivedDateTime": "@utcnow()",
                    "Status": "Pending",
                    "TestIndicator": "",
                    "Q2QTestIndicator": "false",
                    "WorkflowGuid": "@string(workflow()['run']['name'])",
                    "WorkflowName": "@{workflow()?['name']}",
                    "GLNCode": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"GLNCode\"])')",
                    "CustomerName": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')",
                    "WarehouseLocationCode": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"WarehouseLocationCode\"])')",
                    "AssociatedServiceBusTopicName": "[parameters('serviceBusSendTopicName')]",
                    "CustomerMessageId": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"GIHeader\"]/*[local-name()=\"SalesOrderNumber\"])')"
                  }
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "[parameters('adAuthAuthority')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "audience": "[parameters('adAuthAudienceBlob')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]"
                },
                "Base64MessageBody": "@{base64(string(triggerBody()))}"
              },
              "runAfter": {
                "Archive": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "correlationId": "@action()['inputs']['body']['Properties']['CorrelationId']",
                "customerName": "@action()['inputs']['body']['Properties']['CustomerName']",
                "interfaceName": "@action()['inputs']['body']['Properties']['Interface']"
              }
            },
            "Report_Start_Event": {
              "type": "Http",
              "inputs": {
                "method": "post",
                "uri": "[concat(variables('reportUri'), '/api/Event')]",
                "headers": {},
                "body": {
                  "ArchivePath": "@{body('Archive')}",
                  "MessageID": "@{outputs('Construct_Event_Message')['Id']}",
                  "Interface": "PostGoodsIssue",
                  "Component": "@{workflow()?['name']}",
                  "EventType": "Start",
                  "WorkflowId": "@string(workflow()['run']['name'])",
                  "CustomProperties": {
                    "CustomerName": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"CustomerName\"])')",
                    "CustomerPONo": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"GIHeader\"]/*[local-name()=\"SalesOrderNumber\"]/text())')",
                    "GLN": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"GLNCode\"]/text())')",
                    "ShipmentOrderNo": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"GIHeader\"]/*[local-name()=\"LfxShpOdrNbr\"]/text())')",
                    "WareHouseCode": "@xpath(xml(string(triggerBody())), 'string(//*[local-name()=\"MessageHeader\"]/*[local-name()=\"WarehouseLocationCode\"]/text())')"
                  }
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "authority": "[parameters('adAuthAuthority')]",
                  "tenant": "[parameters('adAuthTenant')]",
                  "audience": "[parameters('adAuthAudienceReport')]",
                  "clientId": "[parameters('adAuthClientId')]",
                  "secret": "[parameters('adAuthSecret')]"
                }
              },
              "runAfter": {
                "Send_Trigger_Message": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "correlationId": "@action()['inputs']['body']['MessageID']",
                "customerName": "@action()['inputs']['body']['CustomProperties']['CustomerName']",
                "interfaceName": "@action()['inputs']['body']['Interface']"
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "topics": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebusConnectionName'))]",
                "connectionName": "[parameters('servicebusConnectionName')]"
              }
            }
          },
          "topics": {
            "value": {
              "servicebus": {
                "sendTopicName": "[parameters('serviceBusSendTopicName')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebusConnectionName')]",
      "tags": {
        "displayName": "servicebusConnection"
      },
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
        }
      }
    }
  ],
  "outputs": {
    "connectionString": {
      "type": "string",
      "value": "[listkeys(variables('serviceBusNamespaceauthRuleResourceId'), '2015-08-01').primaryConnectionString]"
    }
  }
}